* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: sans-serif;
    line-height: 1;
    min-height: 100vh;
}

/** Sticky footer **/

body {
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/************/

body,
a {
    color: #313131;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.page-header {
    border-bottom: 2px solid #CFD8DC;
}

.page-header .content {
    display: flex;
}

.page-logo {
    padding: 1rem 0;
    margin-right: 2rem;
}

.page-logo object {
    pointer-events: none;
}

.page-header nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.page-header nav ul {
    display: flex;
    height: 100%;
}

.page-header nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    white-space: nowrap;
    font-weight: bold;
}

.page-header nav a:hover {
    border-bottom: 2px solid #0C2840;
}

main {
    margin: 2rem 0;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main p,
main ol,
main ul {
    margin-bottom: 1rem;
    line-height: 1.5;
}

main h1,
main h2,
main h3,
main h4,
main h5 {
    font-weight: bold;
    color: #0C2840;
}

main h1 {
    font-size: 2rem;
}

main h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

main h3 {
    font-size: 1.25rem;
    margin-top: 2rem;
}

main h4 {
    font-size: 1rem;
    margin-top: 2rem;
}

main h5 {
    font-size: 1rem;
}

main a {
    color: #006CAC;
}

main a:hover {
    text-decoration: underline;
}

main li {
    margin-left: 3rem;
}

main ol li {
    list-style-type: decimal;
}

main ul li {
    list-style-type: disc;
}

/** Footer **/

footer {
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #0C2840;
    padding: 1rem 0;
}

footer,
footer a {
    color: #FFFFFF;
}

footer a:hover {
    text-decoration: underline;
}

.legal-nav ul {
    display: flex;
    column-gap: 1.5rem;
    float: right;
}